* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(252, 229, 229, 0.267);
}
header h1 {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
main {
    background-color: rgb(243, 183, 183);
    display: flex;
    justify-content: center;
}
.bodycalculator {
    background-color: rgb(250, 137, 137);
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 470px;
    border: solid rgb(247, 95, 95);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.screen {
    
    margin-top: 25px;
    margin-bottom: 15px;
    width:280px;
    height: 45px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid rgb(247, 95, 95);
    
}
.screen p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.allbuttons {
    width: 280px;
    height: 200px;
    
}
.buttonscontent {
    width: 100%;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons tr {
    display: flex;
    width:280px;
    justify-content: space-around;
   
}
.buttons tr td button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    border:solid 3px rgb(250, 193, 193);
    cursor: pointer;
    font-size: 25px;
    
}
.buttons tr td button:hover {
    background-color: rgb(250, 193, 193);
    color: rgb(247, 73, 73);
}
footer {
    background-color:  rgba(252, 229, 229, 0.555);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}